.input{
    display: flex;
    /* min-width: 200px; */
    justify-content: center;
}

.p-control{
    display: flex;
    justify-content: center;
}

.search-button{
    margin: 0%;
}

:global(.button).search-button{
    background: rgb(29, 109, 29);
    border: none;
}

:global(.icon){
    color:white;
}

.field{
    display: flex;
    justify-content: center;
}