.header{
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    /* margin: 10% 40% 10% 0%;
    padding-top: 90%;
    padding-right: 50%; */
}

.navbar{
    display: flex;
}

.logo{
    display: flex;
    justify-content: center;
    /* margin-right: 20rem; */
    padding-left: 40%;
    padding-right: 0%;
}

.nav-button{
    display: flex;
    justify-content: space-between;
    margin: 10% 30% 10% 20%;
    padding-left: 50%;
}