.nav-header{
    display: flex;
    justify-content: center;
    font-family: 'Century Gothic';
    font-size: 40px;
}

.navbar{
    display: flex;
}

.logo{
    display: flex;
    justify-content: center;
    /* margin-right: 20rem; */
    padding-left: 40%;
    padding-right: 0%;
    width: 60px;
    height: 70px;
}

.nav-button{
    display: flex;
    justify-content: space-between;
    margin: 10% 30% 10% 20%;
    padding-left: 50%;
}